*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: rgba(33, 190, 221, 0.542);
}

.todo-container{
    width: 500px;
    height: 300px;
    background-color: rgba(33, 190, 220, 0.542);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
    box-sizing: border-box;
}

.input-section input {
    padding: 8px;
    margin-top: 20px;
    border-radius:10px;
    width: 200px;
    height: 20px;
    background-color:rgba(53, 214, 150, 0.684);
    outline: none;
    border: none;
    color: black;
    
}

li{
    
    list-style: none;
}

button {
    background-color: rgb(29, 187, 166);
    border-radius:10px ;
}
ul {
    padding: 8px;
    margin-top: 20px;
    
}